In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the train and test datasets to create two DataFrames
train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url)

test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url)

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# Passengers that survived vs passengers that passed away
print(train["Survived"].value_counts())

# As proportions
print(train["Survived"].value_counts(normalize = True))

0    549
1    342
Name: Survived, dtype: int64
0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [6]:
# Males that survived vs males that passed away
print(train["Survived"][train["Sex"] == 'male'].value_counts())

# Females that survived vs Females that passed away
print(train["Survived"][train["Sex"] == 'female'].value_counts())

0    468
1    109
Name: Survived, dtype: int64
1    233
0     81
Name: Survived, dtype: int64

In [7]:
# Normalized male survival
print(train["Survived"][train["Sex"] == 'male'].value_counts(normalize=True))

# Normalized female survival
print(train["Survived"][train["Sex"] == 'female'].value_counts(normalize=True))

0    0.811092
1    0.188908
Name: Survived, dtype: float64
1    0.742038
0    0.257962
Name: Survived, dtype: float64

In [8]:
# Create the column Child and assign to 'NaN'
train["Child"] = float('NaN')

# Assign 1 to passengers under 18, 0 to those 18 or older. Print the new column.
train['Child'] = train['Age'][train['Age'].notnull()].apply(lambda x : 1 if x < 18 else 0)

In [9]:
train.Child.value_counts()

0.0    601
1.0    113
Name: Child, dtype: int64

In [10]:
# Print normalized Survival Rates for passengers under 18
print(train["Survived"][train["Child"] == 1].value_counts(normalize = True))

# Print normalized Survival Rates for passengers 18 or older
print(train["Survived"][train["Child"] == 0].value_counts(normalize = True))

1    0.539823
0    0.460177
Name: Survived, dtype: float64
0    0.618968
1    0.381032
Name: Survived, dtype: float64

### First Prediction based on just the sex of the person

In [11]:
# Create a copy of test: test_one
test_one = test.copy()

# Initialize a Survived column to 0
test_one['Survived'] = 0

# Set Survived to 1 if Sex equals "female" and print the `Survived` column from `test_one`
test_one.loc[(test_one['Sex'] == 'female'),['Survived']] = 1

###### Accuracy : 0.76555

In [12]:
# Convert the male and female groups to integer form
train.loc[(train["Sex"] == "male"),["Sex"]] = 0
train.loc[(train["Sex"] == "female"),["Sex"]] = 1

test.loc[(test["Sex"] == "male"),["Sex"]] = 0
test.loc[(test["Sex"] == "female"),["Sex"]] = 1

# Impute the Embarked variable
train["Embarked"] = train.Embarked.fillna('S')

test["Embarked"] = train.Embarked.fillna('S')


# Convert the Embarked classes to integer form
train.loc[(train["Embarked"] == "S"),["Embarked"]] = 0
train.loc[(train["Embarked"] == "C"),["Embarked"]] = 1
train.loc[(train["Embarked"] == "Q"),["Embarked"]] = 2

test.loc[(test["Embarked"] == "S"),["Embarked"]] = 0
test.loc[(test["Embarked"] == "C"),["Embarked"]] = 1
test.loc[(test["Embarked"] == "Q"),["Embarked"]] = 2

In [18]:
train["Age"] = train["Age"].fillna(train["Age"].median())

test["Age"] = test["Age"].fillna(test["Age"].median())

In [14]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Child
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1,0.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0,0.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0,0.0

### First Decision Tree

In [15]:
# Create the target and features numpy arrays: target, features_one
target = train["Survived"].values
features_one = train[["Pclass", "Sex", "Age", "Fare"]].values

from sklearn import tree
# Fit your first decision tree: my_tree_one
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

# Look at the importance and score of the included features
print(my_tree_one.feature_importances_)
print(my_tree_one.score(features_one, target))

[ 0.12231561  0.31274009  0.24039678  0.32454752]
0.977553310887

In [19]:
# Impute the missing value with the median
test.Fare[152] = test.Fare.median()

# Extract the features from the test set: Pclass, Sex, Age, and Fare.
test_features = test[['Pclass', 'Sex', 'Age', 'Fare']].values

# Make your prediction using the test set
my_prediction = my_tree_one.predict(test_features)

/Users/vatsal.n/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [ ]:
# Create a data frame with two columns: PassengerId & Survived. Survived contains your predictions
PassengerId =np.array(test["PassengerId"]).astype(int)
my_solution = pd.DataFrame(my_prediction, PassengerId, columns = ["Survived"])
print(my_solution)

# Check that your data frame has 418 entries
print(my_solution.shape)

# Write your solution to a csv file with the name my_solution.csv
my_solution.to_csv("my_solution_one.csv", index_label = ["PassengerId"])

###### Accuracy : 0.56938

### Second Decision Tree (more features included)

In [17]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,NaN,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,NaN,1
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,NaN,0
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,NaN,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,NaN,0
5,897,3,"Svensson, Mr. Johan Cervin",0,14.0,0,0,7538,9.2250,NaN,2
6,898,3,"Connolly, Miss. Kate",1,30.0,0,0,330972,7.6292,NaN,0
7,899,2,"Caldwell, Mr. Albert Francis",0,26.0,1,1,248738,29.0000,NaN,0
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",1,18.0,0,0,2657,7.2292,NaN,0
9,901,3,"Davies, Mr. John Samuel",0,21.0,2,0,A/4 48871,24.1500,NaN,1
10,902,3,"Ilieff, Mr. Ylio",0,NaN,0,0,349220,7.8958,NaN,0
11,903,1,"Jones, Mr. Charles Cresson",0,46.0,0,0,694,26.0000,NaN,0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23.0,1,0,21228,82.2667,B45,0
13,905,2,"Howard, Mr. Benjamin",0,63.0,1,0,24065,26.0000,NaN,0
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47.0,1,0,W.E.P. 5734,61.1750,E31,0
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",1,24.0,1,0,SC/PARIS 2167,27.7208,NaN,0
16,908,2,"Keane, Mr. Daniel",0,35.0,0,0,233734,12.3500,NaN,2
17,909,3,"Assaf, Mr. Gerios",0,21.0,0,0,2692,7.2250,NaN,0
18,910,3,"Ilmakangas, Miss. Ida Livija",1,27.0,1,0,STON/O2. 3101270,7.9250,NaN,0
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",1,45.0,0,0,2696,7.2250,NaN,1
20,912,1,"Rothschild, Mr. Martin",0,55.0,1,0,PC 17603,59.4000,NaN,0
21,913,3,"Olsen, Master. Artur Karl",0,9.0,0,1,C 17368,3.1708,NaN,0
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",1,NaN,0,0,PC 17598,31.6833,NaN,2
23,915,1,"Williams, Mr. Richard Norris II",0,21.0,0,1,PC 17597,61.3792,NaN,0
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,0
25,917,3,"Robins, Mr. Alexander A",0,50.0,1,0,A/5. 3337,14.5000,NaN,0
26,918,1,"Ostby, Miss. Helene Ragnhild",1,22.0,0,1,113509,61.9792,B36,1
27,919,3,"Daher, Mr. Shedid",0,22.5,0,0,2698,7.2250,NaN,0
28,920,1,"Brady, Mr. John Bertram",0,41.0,0,0,113054,30.5000,A21,2
29,921,3,"Samaan, Mr. Elias",0,NaN,2,0,2662,21.6792,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",0,21.0,0,0,364858,7.7500,NaN,2
389,1281,3,"Palsson, Master. Paul Folke",0,6.0,3,1,349909,21.0750,NaN,1
390,1282,1,"Payne, Mr. Vivian Ponsonby",0,23.0,0,0,12749,93.5000,B24,0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,51.0,0,1,PC 17592,39.4000,D28,0
392,1284,3,"Abbott, Master. Eugene Joseph",0,13.0,0,2,C.A. 2673,20.2500,NaN,0
393,1285,2,"Gilbert, Mr. William",0,47.0,0,0,C.A. 30769,10.5000,NaN,1
394,1286,3,"Kink-Heilmann, Mr. Anton",0,29.0,3,1,315153,22.0250,NaN,0
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",1,18.0,1,0,13695,60.0000,C31,0
396,1288,3,"Colbert, Mr. Patrick",0,24.0,0,0,371109,7.2500,NaN,0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,48.0,1,1,13567,79.2000,B41,0
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",0,22.0,0,0,347065,7.7750,NaN,0
399,1291,3,"Conlon, Mr. Thomas Henry",0,31.0,0,0,21332,7.7333,NaN,0
400,1292,1,"Bonnell, Miss. Caroline",1,30.0,0,0,36928,164.8667,C7,0
401,1293,2,"Gale, Mr. Harry",0,38.0,1,0,28664,21.0000,NaN,0
402,1294,1,"Gibson, Miss. Dorothy Winifred",1,22.0,0,1,112378,59.4000,NaN,0
403,1295,1,"Carrau, Mr. Jose Pedro",0,17.0,0,0,113059,47.1000,NaN,0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",0,43.0,1,0,17765,27.7208,D40,0
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,20.0,0,0,SC/PARIS 2166,13.8625,D38,0
406,1298,2,"Ware, Mr. William Jeffery",0,23.0,1,0,28666,10.5000,NaN,0
407,1299,1,"Widener, Mr. George Dunton",0,50.0,1,1,113503,211.5000,C80,0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",1,NaN,0,0,334915,7.7208,NaN,0
409,1301,3,"Peacock, Miss. Treasteall",1,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,0
410,1302,3,"Naughton, Miss. Hannah",1,NaN,0,0,365237,7.7500,NaN,0
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",1,37.0,1,0,19928,90.0000,C78,2
412,1304,3,"Henriksson, Miss. Jenny Lovisa",1,28.0,0,0,347086,7.7750,NaN,2
413,1305,3,"Spector, Mr. Woolf",0,NaN,0,0,A.5. 3236,8.0500,NaN,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.9000,C105,0
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0
416,1308,3,"Ware, Mr. Frederick",0,NaN,0,0,359309,8.0500,NaN,0
417,1309,3,"Peter, Master. Michael J",0,NaN,1,1,2668,22.3583,NaN,0